header {
  font-size: 15px;
  color: white;
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    font-size: 13px;
    letter-spacing: .085em;
    line-height: 23px;
    text-transform: uppercase;
    padding: 30px;
  }
  .function-container {
    display: flex;
    flex-direction: row;
  }
  .function-container-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .function-container-instruction {
    display: flex;
    flex-direction: row;
    .icon {
    height: 50px;
    
    color: rgb(255, 255, 255);
    margin:10px;
    }
   
  }
  .items{
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 30px;

  }

  .items::before{
    content: '';
    visibility: hidden;
    width: 6px;
    height: 6px;
    margin :5px;
    display: block;
    background-color: #5580ff;
    border-radius: 50%;
  
  }
    .items:hover::before{
      visibility: visible;
  }
  
}
