header {
  font-size: 15px;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    letter-spacing: .085em;
    line-height: 23px;
    text-transform: uppercase;

  }
  .function-container {
    display: flex;
    flex-direction: row;
  }
  .function-container-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .function-container-instruction {
    display: flex;
    flex-direction: row;
    .icon {
    height: 50px;
    }
  }
  .items{
    padding: 10px;
    align-items: center;
  }
  
}
